body { /*vincula la imagen que se va a usar de fondo para la pagina */
    background-image: url(yoyo.png); /*se establece una imagen de fondo usando el archivo "yoyo.png" */
    background-repeat: no-repeat; /*evita que la imagen de fondo se repita */
    background-attachment: fixed;/*la imagen de fondo se mantiene fija mientras se desplaza el contenido */
    background-size: 100% 100%;/*la imagen de fondo se ajusta al tamaño completo del cuadro */
    text-align: center;/*el contenido del "body" se alinea al centro horizontalmente */
    margin: 50px; /*se agrega un margen de 50px alrededor del body */
}
#titulo1 { /*ajusta el tamaño y el color del titulo, modifica tambien el color y los bordes del fondo*/
    font-size: 40px;    
    color:rgb(0, 0, 0);
    background-color: rgba(30, 160, 160, 0.50);
    border: 0px;
    border-radius: 100px;
}
#texto1 { /*ajusta el tamaño, el color y la fuente, modifica tambien el color y los bordes del fondo*/
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px;
    border-radius: 10px;
    font-family:verdana;
    margin-left: 150px;
    margin-right: 150PX;
    text-align: left;
}
#titulo2 {
    font-size: 35px;   
    color:rgb(0, 0, 0);
    background-color: rgba(30, 160, 160, 0.50);
    border: 5px;
    border-radius: 100px;

}
#texto2 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px;
    border-radius: 10px;
    font-family:verdana;
    margin-left: 150px;
    margin-right: 150PX;
    text-align: left;
}